[submodule "openocd"]
	path = openocd
	url = https://github.com/MotorolaMobilityLLC/openocd.git
[submodule "manifesto"]
	path = manifesto
	url = https://github.com/MotorolaMobilityLLC/manifesto.git
[submodule "muc-loader"]
	path = muc-loader
	url = https://github.com/MotorolaMobilityLLC/muc-loader
[submodule "bootrom-tools"]
	path = bootrom-tools
	url = https://github.com/MotorolaMobilityLLC/bootrom-tools
